.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.title{
  font-family: sans-serif;
}

.countdown {
  margin-bottom: 40px;
  font-size: 12px;
}

#myFile{
  font-size: 12px;
  font-family: sans-serif;
}

input{
  border-radius: 4px;
}

.btn {
  display: block;
  padding: 20px 30px;
  border: 0;
  background: rgb(6, 163, 103);
  font-size: 15px;
  color: #fff;
  border-radius: 4px;
}
